
<div class="page-flexbox-wrapper">
    <div class="row center-align">
        
        <div class="input-field col offset-s3 s3">
            <input type="text" class="datepicker">
            <label>Date</label>
        </div>
        <div class="input-field col s3">
            <input placeholder=""  data-bind="value:time" id="newTime" type="text" style="z-index:999999999999" class="validate timePicker">
            <label>Time</label>
        </div>

    </div>
    
    <div class="row">
        <div class="countDown" style="width:600px; auto; margin: 100px auto 0">
            <div class="card-panel teal lighten-2"><h2 class="center-align">Select date or time</h2></div>

        </div>
    </div>
</div>